<div class="post-group" >
  <!-- Work through the HTML on now this should be styles quickly
via the Bootstrap. -->

  <a href="" class="list-group-item list-group-item-action">{{title}}:<p>{{blogPost}}</p></a>

</div>
